.landing {
    .landing__title {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
        color: $clr-gold;
    }

    .landing__subtitle {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    .landing__button {
        margin-top: 1rem;
    }
}
