.app-layout:has(.construction) {
    max-width: 1100px;
    > nav ul {
        &:after {
            content: "develophir.com";
            font-size: 0.8rem;
            padding-inline-start: 4px;
            margin-bottom: 0.2rem;
        }

        display: flex;
        align-items: center;
        justify-content: flex-end;

        li a {
            width: 28px;
            height: 28px;
            padding: 4px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;

            &:before {
                content: '';
                border-radius: 50%;
                position: absolute;
                inset: 0;
                z-index: -1;
                @include transition(background-color, 100ms);
            }

            svg {
                width: 80%;
                height: 80%;
                @include transition($property: opacity);
                opacity: 0.8;
            }

            &:hover {
                &:before {
                    background: #33333310;
                }

                svg {
                    opacity: 1;
                }
            }
        }
    }

    .construction {
        display: grid;
        gap: 4px;
        padding: 8px 12px;
        align-content: center;

        section {
            padding-top: 14px;
        }

        .contact {
            ul {
                display: flex;
                align-items: center;
                gap: .5em;

                a:has(svg) {
                    transition: scale 250ms linear;

                    :hover {
                        scale: 1.04;
                    }
                }

                a[href^="mailto"] {
                    font-weight: 600;
                }
            }
        }
    }

}
