$ff-halyard-text: 'halyard-text', 'Avenir Next', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$ff-new-spirit: 'new-spirit', 'georgia', 'times', serif;
$fs-base: 16px;
$lh-base: 1.5;

/* Colors */
$clr-dark: hsl(0, 0%, 20%);
$clr-light: hsl(0, 0%, 95%);
$clr-sea: hsl(220, 31%, 11%);
$clr-night: hsl(222, 100%, 3%);
$clr-gold: hsl(50, 100%, 50%);
$clr-0: hsl(217, 60%, 7%);
$clr-1: hsl(215, 60%, 12%);
$clr-2: hsl(213, 47%, 15%);
$clr-3: hsl(206, 40%, 16%);
$clr-4: hsl(214, 42%, 19%);
$clr-5: hsl(192, 42%, 19%);
$clr-6: hsl(216, 34%, 21%);
$clr-7: hsl(208, 32%, 24%);
$clr-8: hsl(210, 15%, 20%);
$clr-9: hsl(213, 25%, 27%);
$clr-10: hsl(208, 25%, 28%);
$clr-11: hsl(205, 9%, 26%);
$clr-12: hsl(207, 21%, 32%);
$clr-13: hsl(207, 22%, 37%);
$clr-14: hsl(205, 22%, 40%);
$clr-15: hsl(209, 14%, 38%);
$clr-16: hsl(195, 16%, 39%);
$clr-17: hsl(206, 25%, 44%);
$clr-18: hsl(190, 22%, 42%);
$clr-19: hsl(208, 7%, 39%);
$clr-20: hsl(225, 15%, 42%);
$clr-21: hsl(197, 23%, 47%);
$clr-22: hsl(180, 6%, 40%);
$clr-23: hsl(206, 14%, 45%);
$clr-24: hsl(240, 4%, 41%);
$clr-25: hsl(215, 8%, 43%);
$clr-26: hsl(206, 17%, 49%);
$clr-27: hsl(164, 5%, 45%);
$clr-28: hsl(207, 18%, 53%);
$clr-29: hsl(194, 14%, 51%);
$clr-30: hsl(201, 17%, 56%);
$clr-31: hsl(202, 24%, 59%);
$clr-32: hsl(203, 7%, 53%);
$clr-33: hsl(203, 18%, 58%);
$clr-34: hsl(206, 29%, 63%);
$clr-35: hsl(196, 28%, 62%);
$clr-36: hsl(216, 21%, 63%);
$clr-37: hsl(207, 11%, 60%);
$clr-38: hsl(198, 12%, 63%);
$clr-39: hsl(200, 24%, 68%);
$clr-40: hsl(240, 4%, 63%);
$clr-41: hsl(168, 5%, 63%);
$clr-42: hsl(207, 39%, 73%);
$clr-43: hsl(194, 30%, 72%);
$clr-44: hsl(202, 7%, 67%);
$clr-45: hsl(175, 7%, 69%);
$clr-46: hsl(205, 15%, 72%);
$clr-47: hsl(197, 24%, 75%);
$clr-48: hsl(199, 23%, 75%);
$clr-49: hsl(180, 13%, 74%);
$clr-50: hsl(202, 44%, 81%);
$clr-51: hsl(188, 28%, 79%);
$clr-52: hsl(240, 3%, 75%);
$clr-53: hsl(199, 20%, 78%);
$clr-54: hsl(0, 0%, 77%);
$clr-55: hsl(197, 19%, 82%);
$clr-56: hsl(207, 49%, 85%);
$clr-57: hsl(188, 39%, 85%);
$clr-58: hsl(190, 16%, 85%);
$clr-59: hsl(0, 1%, 83%);
$clr-60: hsl(93, 12%, 85%);
$clr-61: hsl(165, 7%, 88%);
$clr-62: hsl(222, 25%, 90%);
$clr-63: hsl(213, 52%, 92%);
$clr-64: hsl(162, 21%, 91%);
$clr-65: hsl(190, 40%, 94%);
$clr-66: hsl(180, 11%, 93%);
$clr-67: hsl(40, 7%, 92%);
$clr-68: hsl(0, 42%, 93%);
$clr-69: hsl(34, 42%, 93%);
$clr-70: hsl(24, 20%, 95%);




:root {
    --clr-sea: $clr-sea;
    --clr-light: $clr-light;
    --clr-gold: $clr-gold;
    --clr-night: $clr-night;
}
