$font-family-base: 'halyard-text', 'Avenir Next', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-family-display: 'new-spirit', 'georgia', 'times', serif;
$font-size-base: 16px;
$line-height-base: 1.5;
$color-base: #333;
$background-color-base: #eee;
$color-primary: #ffd500;