$ff-halyard-text: 'halyard-text', 'Avenir Next', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$ff-new-spirit: 'new-spirit', 'georgia', 'times', serif;
$fs-base: 16px;
$lh-base: 1.5;




$clr-sea: hsl(220, 31%, 11%);

$clr-gold: hsl(50, 100%, 50%);
$clr-14: hsl(205, 22%, 40%);
$clr-59: hsl(0, 1%, 83%);
$clr-69: hsl(34, 42%, 93%);
