:root {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $color-base;
    background-color: $background-color-base;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-display;
    font-weight: 700;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.effect {
    position: relative;
    color: rgb(120, 184, 240);
    transition: font-weight 200ms linear;

    // #00FFFF 70%
    &:before {
        // text-shadow: .05em .05em 0 $color-base;
        content: attr(data-text);
        transform-origin: left;
        color: rgb(0, 22, 41);
        overflow: hidden;
        // color: $color-base;
        // opacity: 0.3;
        position: absolute;
        left: 0;
        width: 0;
        height: 1lh;
        background: linear-gradient(90deg, $color-primary 20%, transparent 100%);
        background-position: 0 50%;
        background-size: auto 50%;
        background-repeat: no-repeat;
        transition: width 250ms linear;
    }

    &.active {
        font-weight: 600;
        // pointer-events: none;
    }

    &:hover {
        scale: 1.04;

        &:before {
            width: 100%;
        }
    }
}