:root {
    font-family: $ff-halyard-text;
    font-size: $fs-base;
    line-height: $lh-base;
    color: $clr-69;
    background-color: $clr-sea;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $ff-new-spirit;
    font-weight: 700;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
