.effect {
    position: relative;
    color: $clr-14;
    transition: font-weight 200ms linear;

     //#00FFFF 70%
    &:before {
        // text-shadow: .05em .05em 0 $color-base;
        content: attr(data-text);
        transform-origin: left;
        //color: rgb(0, 22, 41);
        color: $clr-59;
        overflow: hidden;
         //color: $color-base;
         opacity: 0.7;
        position: absolute;
        left: 0;
        width: 0;
        height: 1lh;
        background: linear-gradient(90deg, $clr-sea 20%, $clr-sea 50%, transparent 100%);
        background-position: 0 50%;
        background-size: auto 50%;
        background-repeat: no-repeat;
        @include transition(width);
    }

    &.active {
        font-weight: 600;
    }

    &:hover {
        scale: 1.04;

        &:before {
            width: 100%;
        }
    }
}

